USE [master]
GO
/****** Object:  Database [YönetimSistemi]    Script Date: 17.06.2023 16:51:58 ******/
CREATE DATABASE [YönetimSistemi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YönetimSistemi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\YönetimSistemi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YönetimSistemi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\YönetimSistemi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YönetimSistemi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YönetimSistemi]
GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 17.06.2023 16:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[KullaniciId] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NULL,
	[Sifre] [nvarchar](50) NULL,
	[Adi] [nvarchar](50) NULL,
	[DogumTarihi] [datetime] NULL,
	[KayitTarihi] [datetime] NULL,
 CONSTRAINT [PK_Kullanici] PRIMARY KEY CLUSTERED 
(
	[KullaniciId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kullanici] ON 

INSERT [dbo].[Kullanici] ([KullaniciId], [KullaniciAdi], [Sifre], [Adi], [DogumTarihi], [KayitTarihi]) VALUES (3, N'yosef', N'123', N'yunus emre', NULL, CAST(N'2023-06-17T15:50:08.603' AS DateTime))
SET IDENTITY_INSERT [dbo].[Kullanici] OFF
GO
USE [master]
GO
